.wrapper {
	width: 960px;
	margin: 0 auto;
}

.header {
	height: 100px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	border-bottom: solid 1px #A00000;
}


 .mainbody p {
 }

 header {
 	font-size: 90px;
 	font-family: sans-serif;
 	
 }

 nav li {
 	list-style: none;
 	display: inline-block;
 	margin-right: 200px;

 }

 .link_bar {
 	text-align: center;
 	font-size: 20px;
 	height: 30px;
 	border-bottom: 1px solid #A00000;
 	font-size: 20px;

 }

 body {
 	color: #A00000;
 }

.link_bar a{
	color:#A00000;
	text-decoration: none;
	font-size: 25px;
}

.link_bar a:hover{
	text-decoration: underline;
}

.work_image img {
	width: 500px;
	float: left;
	margin: 10px;

}

.work_text {
	width: 300px;
	border-left: 1px solid #A00000;
	float: left;
	margin: 10px;
	padding: 10px;
	height: 400px;
}

.mainbody img {
	float:left;
	width: 200px;
	margin: 20px
}
