.wrapper {
	width: 960px;
	margin: 0 auto;
}

.header {
	height: 100px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	border-bottom: solid 1px black;
}


 .mainbody p {
 	font-family: Tahoma,sans-serif;
 }

 .mainbody h1 {
 	font-family: Tahoma,sans-serif;
 }

 header {
 	font-size: 90px;
 	font-family: Georgia, serif;
 	
 }

 nav li {
 	list-style: none;
 	display: inline-block;
 	margin-right: 150px;

 }

 .link_bar {
 	text-align: center;
 	font-size: 20px;
 	height: 30px;
 	font-size: 20px;
 	border-bottom: 1px solid black;
 }

 body {
 	color: black;
 }

.link_bar a{
	color:black;
	text-decoration: none;
	font-size: 25px;
	font-family: Tahoma,sans-serif;
}

.link_bar a:hover{
	text-decoration: underline;
}

.work_image img {
	width: 500px;
	float: left;
	margin: 10px;

}

.work_text {
	width: 300px;
	border-left: 1px solid black;
	float: left;
	margin: 10px;
	padding: 10px;
	height: 327px;
}

.mainbody img {
	float:left;
	width: 200px;
	margin: 20px
}

.interests_columns {
	width: 250px;
	float: left;
	margin-right: 60px;


}

.interests_columns img {
	width: 250px;
}

footer p {
	clear: both;
	border-top: 1px solid black;

}

.facebook , .twitter , i {
	font-size: 500px;
	text-align: center;
	
}





